---
import SearchClient from "@/components/SearchClient.vue";
import Layout from "@/layouts/Layout.astro";
import Header from "@/ui/Header.astro";
---

<Layout>
  <!-- <Header /> -->
  <main
    class="max-w-4xl m-auto h-full flex flex-col items-center justify-center"
  >
    <Header />
    <SearchClient client:idle />
    <!-- <Stocks client:load /> -->
  </main>
  <!-- <Footer /> -->
</Layout>
